#navbarScope .btn-top-signup {
  padding: 2px 20px;
  margin-top: 5px;
  line-height: 1.7;
  background-color: #5cb85c;
  border-color: #4cae4c;  }

.navbar-donate-button a{
  color: #9cd59c !important;
}

.osf-nav-wrapper .dropdown-menu.auth-dropdown {
  width: unset !important;
}

.osf-nav-wrapper .dropdown-menu.service-dropdown {
  width: unset !important;
}

@media (max-width: 767px) {
  .osf-nav-wrapper .dropdown-menu.service-dropdown {
    position: fixed !important;
    top: 50px !important;
    left: 15px !important;
    right: auto !important;
  }
  .osf-nav-wrapper .dropdown-menu.service-dropdown ::after {
    left: 60px !important;
  }
}
